@import 'normalize.css';
@import 'https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap'; 

:root {
    --white-color: #ffffff;
    --dark-color: #212123;
    --primary-color: #ffc107;
    --secondary-color: #0097a7;
    --gray-color: #757575;
    --gray-light-color: #dfe9f3;
}

html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem; /* 1 rem = 10px */
    font-family: "Krub", "Helvetica Neue", "Helvetica";
    background: linear-gradient(to top, var(--gray-light-color) 0%, var(--white-color) 100%);
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.button {
    background: var(--secondary-color);
    color: var(--white-color);
    padding: 1rem 3rem;
    margin-top: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: bold;
    width: 90%;
}

@media (min-width: 480px) {
    .button {
        width: auto;
    }
}

/* -------- typography -------- */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

/* -------- title -------- */
.title span {
    font-size: 2rem;
}

/* -------- navigation bar -------- */
.background-nav {
    background-color: var(--secondary-color);
    top: 0;
    position: sticky;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

@media (min-width: 768px) {
    .main-navigation {
        flex-direction: row;
        justify-content: space-between;
    }
}

.main-navigation a {
    display: block;
    text-align: center;
    color: var(--white-color);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
}

.main-navigation a:hover {
    background-color: var(--primary-color);
    color: var(--dark-color);
}

/* -------- hero location -------- */
.hero {
    background: url(/public/img/hero.jpg) no-repeat;
    background-size: cover;
    height: 45rem;
}

.hero-content {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background: rgb(0 0 0 / 70%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content p,
.hero-content h2 {
    color: var(--white-color);
}

.location {
    display: flex;
    align-items: flex-end;
}